nav {
    text-align: center;

    ul {
        li {
            display: inline-block;

            padding: 1rem;

            a {
                color: $tertiary-color;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;

                // When the "&" is used, it takes the element above it is situated, in this case, the "a"
                &:hover {
                    border-bottom: 2px solid $secundary-color;
                }
            }
        }
    }
}