@import "../abstract/variables";

#cupom {
    background-color: $tertiary-color;

    padding: 4rem;

    text-align: center;

    .text {
        color: $primary-color;

        h2 {
            margin: 2rem;

            font-size: $text-height / 1.7;
        }
    }
}